doctype html
html
    head
        title Sticky notes
        link(href='/assets/css/main.css', rel='stylesheet')
        script(src='/assets/js/requirejs/require.js')
        script(src='/requireConfig.js')
        script(src='/app.js')
    body(ui-view)
